html {
	min-height: 100%;
	position: relative;
}

body {
	// padding-top: (@navbar-height + 10px);
	margin-bottom: (30px + @footer-margin);
	@media (min-width: @grid-float-breakpoint) {
		margin-bottom: (@footer-height + @footer-margin);
	}
}
